{% extends "layout.html" %}
{% block content %}
<div class="" style="top: 6.5em;padding-bottom: 10em;margin: 10em;">
  {% if modify %}
  	<form action="mongo">
      Elemento modificado con éxito. <br><br>
  		<input type="submit" value="Volver" />
  	</form>
  {% else %}
  	<div class="mongo">
  		<div id="busqueda">
  			<p>Modificar nombre</p>
  			<form action = "modify_mongo" method = "POST">
        Temporada <br>
        <input type="number" name="temporada"> <br>
        Capitulo <br>
        <input type="number" name="capitulo"> <br>
        <br><br>
        Nuevo nombre <br>
        <input type="text" name="nombre">
        <br><br>
  			<input type = "submit" value = "Modificar" />
  			</form>
  		</div>
  	</div>
  {% endif %}
</div>
{% endblock %}
